:root {
    --color-surface: #121323;
    --color-primary: #f5f5fa;
    --color-orange: #e98b2a;
    --color-yellow: #ffd241;
    --color-green: #03ad00;
    --color-blue: #6088f0;
}

.light-theme {
    --color-surface: #f5f5fa;
    --color-primary: #121323;
}

body {
    font-family: 'Roboto', serif;
    background-color: var(--color-surface);
    color: var(--color-primary);
}