.navbar {
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
}

.title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}
