@font-face {
    font-family: "Roboto-Thin";
    src: url("/static/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Strong";
    src: url("/static/roboto/Roboto-Regular.ttf") format("truetype");
}

/*
    Credit to @hallodom and @MusikAnimal
    https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily
*/
.stop-scrolling {
    height: 100%;
    overflow:hidden;
}

html {
    font-family: "Roboto-Thin";
    background-color: #fff;
}
body {
    /*background-color: #fff;*/
}

.page {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top:200vh;
}
.content {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-self: center;
}

#page-1 .content {
    flex-direction: column;
    margin-top:200px;
    z-index: 2;
    color: #000;
    mix-blend-mode: difference;
}

.name {
    font-family: "Roboto-Strong";
    font-size:52px;

}

#page-1 .content #skills-intro {
    margin-top:10px;
    font-family: "Roboto-Thin";
    font-size:52px;
}

#page-1 #big-test {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#page-1 {
    mix-blend-mode: initial;
    margin-top: 0;
}

.mandelbrot-small {
    position: fixed;
    width: 100%;
    max-width: 750px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0px);
    opacity: .6;
    mix-blend-mode: darken;
}
.cyan-animate {
    animation-name: cyan-join;
    animation-duration: 1.5s;
}
.yellow-animate {
    animation-name: yellow-join;
    animation-duration: 1.5s;
}
.magenta-animate {
    animation-name: magenta-join;
    animation-duration: 1.5s;
}
#big-dark {
    position: fixed;
    width: 100%;
    max-width: 750px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0px);
}
.no-display {
    opacity: 0;
}
#cyan {
    left: -50%;
}
#yellow {
    top: -800px;
}
#magenta {
    left: 150%;
}


#page-2 {
    margin-top:200vh;
}

/*
.page-1 .content #skills-intro #skill-replaceable {
    color: #AAAA00;
}
*/




.wireframe {
    border: 1px solid red;
}