@font-face {
    font-family: "Roboto-Thin";
    src: url("/static/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Strong";
    src: url("/static/roboto/Roboto-Regular.ttf") format("truetype");
}

/*
    Credit to @hallodom and @MusikAnimal
    https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily
*/
.stop-scrolling {
    height: 100%;
    overflow:hidden;
}

html {
    font-family: "Roboto-Thin";
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: #fff;
    transition: color .2s
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: rgb(2, 100, 248);
}

a:active {
    text-decoration: underline;
}
body {
    position: relative;
    margin: 0;
}
#main-container {
    background-color: #fff;
    position: relative;
    height: 400vh;
}
.page {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top:200vh;
    background-color: inherit;
}
.content {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-self: center;
    color: #fff;
    mix-blend-mode: difference;
}
.content-header {
    font-family: "Roboto-Strong";
    font-size:52px;

}
.content-medium {
    font-family: "Roboto-Thin";
    font-size: 34px;
}

#page-1 .content {
    flex-direction: column;
    margin-top:200px;
    z-index: 2;
}

#page-1 .content #skills-intro {
    margin-top:10px;
    font-family: "Roboto-Thin";
    font-size:52px;
}

#page-1 #big-test {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#page-1 {
    mix-blend-mode: initial;
    margin-top: 0!important;
    width: initial;
    
}

.mandelbrot-small {
    position: fixed;
    width: 100%;
    max-width: 750px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0px);
    opacity: 1;
    mix-blend-mode: darken;
}
.cyan-animate {
    animation-name: cyan-join;
    animation-duration: 1.5s;
}
.yellow-animate {
    animation-name: yellow-join;
    animation-duration: 1.5s;
}
.magenta-animate {
    animation-name: magenta-join;
    animation-duration: 1.5s;
}
#big-dark {
    position: fixed;
    width: 100%;
    max-width: 750px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0px);
}
.no-display {
    opacity: 0;
}
#cyan {
    left: -50%;
}
#yellow {
    top: -800px;
}
#magenta {
    left: 150%;
}


#page-2 {
    margin-top:200vh;
    /*I don't know why this works*/
    background-color: initial;
}

#page-2 .content {
    flex-direction: row;
    margin-top:100px;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
}
#page-2 .content-header {
    margin-bottom:10px;
}
#page-2 .content-medium {
    padding-top: 10px;
    padding-bottom: 10px;
}
#page-2 .left-content {
    display: flex;
    flex-direction: column;
}
#page-2 .right-content {
    display: flex;
    flex-direction: column;
}


/**
    styling for page 2 directory
*/
#page-2 .dir-root {
    font-family: "Roboto-Strong";
    font-size: 34px;
    margin-left:10px;
    margin-bottom:10px;
}
#page-2 .dir-2 {
    font-size: 20px;
    margin-left: 20px;
    opacity: .8;
    display: flex;
    flex-direction: row;
}
#page-2 .dir-2 .description {
    font-family: "Roboto-Thin";
    font-size: 16px;
}
.entry-note {
    margin-right: 5px;
}
.rust {
    color: #e98b2a;
}
.python {
    color: #ffd241;
}
.mern {
    color: #026e00;
}
.tiny-mern {
    font-family: "Roboto-Thin";
    font-size: 16px;
}
.it {
    color: #2c3d6e;
}
/**
    end styling for page 2 directory
*/




.wireframe {
    border: 1px solid red;
}